<!-- displays the site's details and link to  
     company's show action which displays 
     dashboard -->

    <h1 class="sub-header" align="center">Site Information</h1>

    <div align="center">
      <label>Site:    <%= @site.address %></label>
      <br>
      <label>Contact(s):</label>
      <% @site.contacts.each do |contact| %>
        <li>Name: <%= contact.name    %></li>
        <li>Number: <%= contact.number  %></li>
      <% end %>
      <br>
      <label >Assets:</label>
      <% @site.assets.each do |asset| %>
       <p><a href="/assets/<%= asset.id %>"><%= asset.IP %></p>
       <p><a href="/assets/<%= asset.id %>/edit">Edit</a></p> 
      <% end %>
    </div>